<div class="container-fluid">
<div class="jumbotron">
  <h2> Let's Make That List, <%= @user.email %>!</h2>
    <% if current_user == nil %>
    <% elsif current_user.id == @user.id %>
  </div>
      <div class="container">
       <%= render partial: 'items/form', locals: { user: @user, item: @item } %>
    </div>  
  <% end %>
    <div class="container">
      <% if flash[:success] %>
        <p class="alert alert-success alert-autocloseable-success"><%= flash[:success] %></p>
      <% elsif flash[:alert] %>
        <p class="alert alert-danger alert-autocloseable-danger"><%= flash[:alert] %></p>
   <% end %>
</div>

<div class="container-fluid">
  <h3>Tasks that need completion:<h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th style="width:55%">Description</th>
          <th class="text-center">Created</th>
          <th class="text-center">Complete</th>
          <th class="text-center">Expires</th>
        </tr>
      </thead>
    <% @items.each do |item| %>
      <%= render partial: 'items/item', locals: {user: @user, item: item }%>
      <% end %>
    </table>
</div>
</div>
