<!DOCTYPE html>
<html>
<head>
  <title>BlocItOff</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
  <div class="navbar-header">
  <a class="navbar-brand">Blocitoff</a>
  </div>
    <ul class="nav nav-tabs">
      <li class="<%= 'active' if current_page?(welcome_index_path) %>"><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", welcome_about_path %></li>
        <div class='nav navbar-nav navbar-right'>
        <% if user_signed_in? %>
          <li><%= link_to 'Hello, ' + current_user.email, users_path(current_user.id), :class => 'navbar-link' %></li>
          <li><%= link_to '<span class= "glyphicon glyphicon-cog"></span> Edit Profile'.html_safe, edit_user_registration_path, :class => 'navbar-link' %></li>
          <li><%= link_to '<span class= "glyphicon glyphicon-log-out"></span> Sign Out'.html_safe, destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
        <% else %>
          <li><%= link_to '<span class= "glyphicon glyphicon-log-in"></span> Log In'.html_safe, new_user_session_path, :class => 'navbar-link' %></li>
        <% end %>
       </div>
     </ul>
          <% if flash[:notice] %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
            </div>
            <br>
          <% elsif flash[:alert] %>
            <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %>
          </div>
        <% end %>
     <%= yield %>
   </div>
</body>
</html>
